# Git
.git
.gitignore

# IDE
.idea
.vscode
*.iml

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Node
node_modules
fronter/node_modules
dist
fronter/dist

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.yml
Dockerfile
Dockerfile.frontend
.dockerignore

# Documentation
README.md
*.md

# Test
test/
tests/
